.submit-product{
    background-color: #6A65FE;
    width: 100%;
    border: 0;
}
.submit-cancel{
    width: 20%;
    border: 0;
    margin-right: 1rem;
}

.submit-finish {
    width: 30%;
    background-color: #6A65FE;
    border: 0;
} 
