table {
    text-align: center;
    padding: 1rem 0;
}

table td{ 
    width: calc(100%/5);
}

table button{
    border: 0;
    background-color: rgba(255, 0, 0, 0.363);
    padding: .3rem 1rem;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}